hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  padding: 0;
}

.info-container .row {
  font-size: 20px;
}
.info-container b {
  font-size: 20px;
}

@media (max-width: 768px) {
  .info-container .row {
    font-size: 10px;
  }
  .info-container b {
    font-size: 10px;
  }
}

.info-container .row {
  display: table;
  text-align: center;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.info-container .col {
  display: table-cell;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}
